.bg-blue{    background-color:#143d59 !important}

.bg-yellow{    background-color:#f4b41a !important}

.txt-blue{    color:#143d59 !important}

.txt-yellow{    color: #f4b41a !important;}

.txt-bold{ font-weight: 400px;}
.navbar{
    padding: 5px;
}
 